.album-collection-page{
    margin: 40px 0 120px 150px;
}

.album-collection-header{
    color: white;
    font-size: 26px;
    padding-left: 12px;
}

.album-collection {
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
}