.genre-page{
    margin-bottom: 120px;
}

.general-genre-content{
    max-width: 1300px;
    margin-top: 20px;
    margin-left: 100px;
}

.tracks-section{
    max-width: 800px;
}

.header-albums-row{
    max-width: 1250px;
}

.header-tracks-row{
    max-width: 780px;
}

.header-albums-row,
.header-tracks-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 24px;
    color: white;
}

.show-all-btn {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.show-all-btn:hover {
    text-decoration: underline;
}

.tracks-general-container > div{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.albums-general-container > div {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}


/* Для отдельных страниц со всеми треками и альбомами по жанру*/

.extended-genre-content {
    margin: 40px 100px;
}

.genre-name-header {
    padding-left: 12px;
    font-size: 35px;
    color: white;
}

.tracks-container {
    max-width: 800px;
}

.tracks-container > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.albums-container {
    max-width: 1300px;
}

.albums-container > div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}