h4 {
    opacity: 0.8;
}

.sound-header {
    max-width: 1300px;
}

.sound-label {
    margin: 0;
    padding: 60px 0 10px 0;
}

.sound-page {
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: white;
}

.sound-body {
    display: flex;
    gap: 200px;
}

.sound-metadata {
    display: grid;
}

.sound-title {
    font-size: 42px;
    margin: 0;
}

.sound-info,
.artist-info {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 14px;
}

.functionalities-of-sound {
    display: flex;
    align-items: center;
    gap: 36px;
}

.play-sound-btn {
    width: 56px;
    height: 56px;
    font-size: 30px;
    font-weight: 700;
    background: #aa9f68;
    color: black;
}

.like-btn {
    width: 40px;
    height: 40px;
    font-size: 35px;
    font-weight: 1000;
}

.play-sound-btn,
.like-btn {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-btn.liked {
    background: #aa9f68;
    color: black;
}

.like-btn:not(.liked) {
    background: #7e7c78;
    color: black;
}

.play-sound-btn:hover,
.like-btn:hover {
    transform: scale(1.03);
}

.like-btn::before {
    content: "+";
}

.like-btn.liked::before {
    content: "✔";
}

.album-container {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.album-container h3 {
    margin: 0;
}

.artist-name-link {
    font-size: 18px;
}

.album-title-link,
.artist-name-link {
    text-decoration: none;
    color: white;
}

.album-title-link:hover,
.artist-name-link:hover {
    text-decoration: underline;
}