# Database
DB_USERNAME=
DB_PASSWORD=

# Mail sender
MAIL_USERNAME=
MAIL_PASSWORD=

# Yandex cloud S3
YANDEX_ACCESS_KEY=
YANDEX_SECRET_KEY=
YANDEX_REGION=
YANDEX_ENDPOINT=
YANDEX_MUSIC_BUCKET=
YANDEX_IMAGE_BUCKET=
YANDEX_DEFAULT_USER_AVATAR_KEY=

# Jamendo
JAMENDO_CLIENT_ID=

# Jwt
JWT_SECRET=

# Metadata file path
METADATA_FILE_PATH=