<header class="header">
    <div class="header-left">
        <button class="menu-btn" id="sidebar-open">&#9776;</button>
        <a href="/main" class="logo">&#8962;</a>
    </div>

    <form id="search-form" class="search-form">
        <input id="search-input" type="text" placeholder="Введите название альбома">
        <button id="search-button" type="submit">&#128270;</button>
    </form>

    <nav class="auth-buttons" id="auth-buttons">
        <a href="/html/pages/auth/login.html" class="sign-in-button">Sign in</a>
        <a href="/html/pages/auth/registration.html" class="sign-up-button">Sign up</a>
    </nav>
    <div class="userInfo" id="userInfo"></div>
</header>