<header class="header">
    <div class="header-left">
        <button class="menu-btn" id="sidebar-open">&#9776;</button>
        <a href="/main" class="logo">&#8962;</a>
    </div>

    <form id="search-form" class="search-form">
        <button id="search-button" type="submit">&#128270;</button>
        <input id="search-input" type="text" placeholder="Поиск">
    </form>

    <nav class="auth-buttons" id="auth-buttons">
        <a href="/auth/login" class="sign-in-button">Sign in</a>
        <a href="/auth/registration" class="sign-up-button">Sign up</a>
    </nav>
    <div class="user-profile" id="user-profile"></div>
</header>