<aside class="side-panel" id="sidebar">
    <div class="side-header">
        <button class="side-close-btn" id="sidebar-close">&larr;</button>
        <div class="sidebar-title">Моя музыка</div>
    </div>

    <div class="trackCollection" id="trackCollection">
        <a href="/collection/tracks">
            <button class="side-panel-btn">Понравившиеся песни</button>
        </a>
    </div>

    <div class="albumCollection" id="albumCollection">
        <a href="/collection/albums">
            <button class="side-panel-btn">Понравившиеся альбомы</button>
        </a>
    </div>

    <div class="genres">
        <a href="/genre">
            <button class="side-panel-btn">Жанры</button>
        </a>
    </div>
</aside>
<div class="overlay" id="sidebar-overlay"></div>