.audio-player,
.audio-player * {
    box-sizing: border-box;
}

.audio-player {
    position: fixed;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1e1e1e;
    padding: 12px 0 16px 0;
    row-gap: 8px;
    display: grid;
    grid-template-rows: auto auto;
    z-index: 2000;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player-controls button {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
}

.player-controls button:hover {
    background: #fff;
    color: #111;
}

.player-progress {
    display: grid;
    grid-template-columns: 1fr minmax(0, 500px) 1fr;
    align-items: center;
    width: 100%;
}

.progress-center {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.player-progress .current-time,
.player-progress .duration  {
    font-size: 12px;
    color: #fff;
    min-width: 40px;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 16px;
    cursor: pointer;
    accent-color: #fff;
}

.volume-icon {
    font-size: 18px;
}

.volume-wrapper {
    grid-column: 3;
    justify-self: center;
    width: 140px;
    display: flex;
    align-items: center;
}

.volume-bar {
    width: 100%;
    height: 6px;
    cursor: pointer;
    accent-color: #fff;
}