.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    background: #1e1e1e;
    color: white;
    transform: translateX(-100%);
    transition: transform .3s ease;
    z-index: 1000;
}

.side-panel.open {
    transform: translateX(0);
}

.side-panel-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    z-index: 900;
}

.side-panel-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* карточка-кнопка */
.side-panel-btn {
    width: 98%;
    padding: 15px 10px;
    background: #9f9f9f82;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
}

.side-panel-btn:hover{
    background: rgba(214, 214, 214, 0.58);
}

.side-panel-close-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 12px;
    background: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    border: none;
}

.side-panel-close-btn:hover {
    transform: scale(1.05);
}

.side-panel-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    gap: 38px;
}

/* Кнопки боковой панели */
.track-collection-btn, .album-collection-btn, .genres-btn {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

/* ссылка-обёртка */
.track-collection-btn a,
.album-collection-btn a,
.genres-btn a {
    text-decoration: none;
}