/* === КОНТЕНТ === */
.container {
    margin-left: 60px;
    margin-top: 20px;
    width: 100%;
}

/* === СПИСОК АЛЬБОмов === */
.albums {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.album-card {
    width: 200px;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}

/* кликабельная карточка альбома */
.album-card-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.album-card-link:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

.album-title-link{
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.album-title-link:hover{
    transform: scale(1.02);
    transition: 0.2s;
}

/* кликабельное имя артиста */
.artist-name-link {
    display: block;
    text-decoration: none;
    color: inherit;
}
.artist-name-link:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

.cover-wrapper {
    cursor: default;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.album-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.play-album-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;

    background: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;

    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
}

.album-meta {
    margin-top: 6px;
}
.album-title {
    font-weight: bold;
}
.artist-name {
    font-size: 0.9em;
    opacity: 0.8;
}
