/* Карточка формы */
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

/* Контейнер для центрирования формы */
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* всё окно минус высота header */
    padding: 10px;
}

/* Подписи */
label {
    margin-top: 10px;
    font-weight: bold;
}

/* Поля */
input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Кнопка */
button {
    margin-top: 15px;
    padding: 10px;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #45a049;
}

.message {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    display: none;
}

/* Ошибка */
.errorMessage {
    color: #b57c81;
}

/* Успех */
.successMessage {
    color: #54775b;
}