.album-rows {
    display: grid;
    grid-template-columns: repeat(7, 200px);
    gap: 53px;
}

.album-rows-heading {
    color: white;
    font-size: 36px;
    margin: 0;
    padding: 36px 0 46px 0;
}

.album-card {
    text-align: center;
}

.album-card-cover {
    cursor: default;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.album-card-cover:hover .album-card__play-btn {
    opacity: 1;
}

.album-card__play-btn.active {
    opacity: 1;
}

/* кликабельная карточка альбома */
.album-card-link {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.album-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.album-card__play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: #aa9f68;
    color: black;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
}

.album-card-meta {
    margin-top: 6px;
}

.album-card__title-link,
.album-card__artist-name-link {
    color: white;
    text-decoration: none;
}

.album-card__title-link:hover,
.album-card__artist-name-link:hover {
    text-decoration: underline;
}

.album-card__artist-name {
    font-size: 0.9em;
    opacity: 0.8;
}
