/* Общий контейнер */
.search-results {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 140px;
}

.found-tracks-title,
.found-albums-title,
.found-artists-title{
    margin-left: 90px;
    max-width: fit-content;
    font-weight: 600;
    font-size: 25px;
}

.found-tracks-title-link,
.found-albums-title-link,
.found-artists-title-link {
    text-decoration: none;
    color: white;
}

.found-tracks-title-link:hover,
.found-albums-title-link:hover,
.found-artists-title-link:hover {
    text-decoration: underline;
}

/* Найденные треки */
.found-tracks {
    margin-left: 90px;
    max-width: 800px;
}

/* Найденные альбомы */
.found-albums {
    margin-left: 90px;
    max-width: 1300px;
    display: flex;
    gap: 25px;
    justify-content: flex-start;
}

/* Найденные исполнители */
.found-artists {
    margin-left: 90px;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/* текст "ничего не найдено" */
.not-found {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    color: #aaa;
}
